* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.toggle {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-switch label {
    display: inline-block;
    width: 300px;
    height: 50px;
    outline: 1px solid #353333;
    border-radius: 999px;
    background-color: #ffffff;
    transition: ease 1;
}

.toggle-switch label::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 1);
    transition: ease 0.5s;
}

.toggle-switch [type="checkbox"]:checked ~ label::before {
    transform: translateX(250px);
}

.toggle-switch [type="checkbox"]:checked ~ label {
    background-color: aquamarine;
}
